<div class="col-md-6 offset-md-3">
    <body>
      <table cellpadding="8">
        <h2>Track Your Application Status Here</h2></table>
        <br>
        <br>
            <table cellpadding ="8">
                <br><br>
              <tr>
                  <td>Email Id</td>
                  <td><input type="text" size="30" 
                      tabindex="1" [(ngModel)]="email" placeholder="Enter your Regsitered mail">
                  </td>
              </tr>

              <br>

              <tr>
                <td>Mobile Number</td>
                <td>
                    <input type="text" size="30" maxlength="10" pattern="\d{10}" 
                    tabindex="2" placeholder="Enter your mobile number">
                </td>
            </tr>

              <br><br>

            <tr>
                <td colspan="3">
                    <button class="btn btn-dark" (click) = 'track()' >Track</button>
                    <br>
                    <br>
                    <br>
                   
                    <br><br><br> 
                </td>   
            </tr>
             <tr>
                <td colspan="3">
                   <h5>{{message}}</h5>
                </td>   
            </tr>
      </table>
    </body>
</div>