<div class="col-md-6 offset-md-3">
    <body>
      <table  cellpadding ="8">
        <h2>Account Details</h2></table>
        <br>
        <br>
          <table  cellpadding ="8">
              <br>
              <br>
              <tr>
                  <td>Account Number</td>
                  <td><input type="text" size="30" maxlength="15" pattern="\d{15}"
                      tabindex="1" placeholder="Enter your account number">
                  </td>
              </tr>

              <br>

              <tr>
                <td>Balance</td>
                <td>
                    <input type="text" size="30" maxlength="8" pattern="\d{8}" 
                    tabindex="2" placeholder="Enter your balance">
                </td>
            </tr>

              <br><br>

            <tr>
                <td colspan="3" style="padding-left:200px" >
                    <button class="btn btn-info" type="submit">Check</button>
                    <br>
                     
                </td>   
            </tr>
      </table>
    </body>
</div>