body {
    padding-top: 150px;
    padding-bottom: 200px;
}

h2 {
    
    color: navy;
    text-align: center;
    font-family: cursive;
}

table {
    text-align: center;
    background-color: lightcoral;
    width:600px;
}