h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
   }
 h4{
   font-size: xx-large;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bolder;
   border: 0vw;
   background-color: rgb(197, 218, 216);
 }
 h2{
   font-weight:bold;
 }
 ul{
   font-style: italic;
   margin-top: auto;
   background-color: rgb(225, 215, 207);
   
 }