<div id="about">


    <h1>what is Home Loan? -All You Need to Know About Housing Loan </h1>
    <p>
        A home/housing loan,
        also known as a mortgage, is an amount of money borrowed by an individual, usually from banks and companies that
        lend money. The borrower has to pay back the loan amount with interest in Easy Monthly Instalments or EMI's over
        a period of time that can vary between 10-30 years
        depending on the nature of the loan.
    </p>
    <br>
    <h1>CHOOSE A HOME LOAN THAT SUITS YOUR NEEDS</h1>
    <h3>There are different kinds of home loans options that are made to suit each unique situation. You can take home
        loans to buy properties that are either commercial or personal in nature.
        Here are some of the different kinds of home loans you can take.</h3>

    <br>


    <ul>
        <li>Home Purchase Loan - You can buy any house or home that is within your budget</li>
        <li>Construction Home Loan – You can use this loan to cover the costs of building a house</li>
        <li>Land Purchase Loan - You can use this loan to buy a piece of land</li>
        <li>Home Improvement Loan – You can use this loan to renovate and improve your house</li>
        <li>Home Repair Loan – Pay for the cost of repair and restoration of your home</li>
        <li>Home Extension Loan – Increase the amount of built up space at your home using this loan.</li>
    </ul>
</div>
<br>
<br>


<h4>Check Your Home Loan Eligibility In Less Than A Minute</h4>
<h4>click here &#8595;</h4>
<a href="https://www.bankbazaar.com/home-loan-eligibility.html">
    <img src="https://abcscprod.azureedge.net/-/media/Project/ABCL/Internal_Images_526x230/526x230/HF/FW_What_is_a_Home_Loan_526_230_F_HF_076.webp?extension=webp&revision=be212453-44d0-48a9-81e0-b45ac66263f0&modified=20200821100332&hash=6544C4CACD807AA693DF5CD14290BCE8"
        alt="loan" style="width: 600px;height: 300px;">

</a>

<br>
<br>

<h1>TAX SAVING THROUGH HOME LOANS</h1>
<br>
<p>Interest charged on home loans is tax deductible, meaning you can claim the expenses when you are filing income tax.
</p>
<br>
<br>

<h1>WHAT HAPPENS IF YOU CANNOT REPAY THE LOAN?</h1>
<br>
<p>When you take out a home loan, the bank or financial institution accepts the property you are purchasing as a
    security. This means that it retains the legal right to the property in the event of non-payment.</p>
<br>
<br>

<h1>IMPORTANT FACTORS TO CONSIDER WHEN APPLYING FOR A HOME LOAN</h1>
<br>

<h2>PURPOSE</h2>
<br>
<ul>
    <li>Purchase of new/old residential unit (house/ flat/villa/apartment etc.)</li>
    <li>Construction of residential unit on exiting non agriculture plot.</li>
    <li>Purchase of non-agricultural plot and construction of residential unit (composite project) thereon**</li>
    <li>Take-over of housing loan availed from another bank</li>
</ul>
<br>

<h2>Principal</h2>
<br>
<p>This is the amount of money you will be borrowing from the bank or financial institution.</p>
<br>
<h2>Duration</h2>
<br>
<p>How long you will be paying back the loan. Depending on the nature of your expected income, you can select a period
    that suits you.</p>
<br>

<h2>Interest</h2>
<br>

<p>The bank or financial institution charges interest in exchange for its money lending services. The rate of interest
    is dependent on the amount of the principal and the duration for which you will be repaying the loan.
</p>
<ul>
    <li>
        <a href="https://www.etmoney.com/fixed-deposit/sbi-bank-fd-rates/2" target="_blank">SBI INTEREST RATE</a>
    </li>
</ul>
<br>
<br>
<h2>EMI Amount</h2>
<br>
<p>You will be paying monthly instalments for the duration of your borrowing, until the end of the loan period. Each EMI
    is a combination of principal + interest. With each EMI, you will be paying back more of the principal and costs of
    interest will gradually reduce.</p>
<ul>
    <li>
        <a href="https://www.bajajfinserv.in/personal-loan-emi-calculator#:~:text=EMI%2C%20or%20Equated%20Monthly%20Instalment,both%20principal%20and%20interest%20components."
            target="_blank">EMI</a>
    </li>
</ul>
<br>
<br>
<h2>HOME LOAN EMI CALCULATOR</h2>
<br>
<a href="https://www.unionbankofindia.co.in/english/emicalculator.aspx" target="_blank">please Click here for emi
    Calculator</a>