<div class="center">
  <br>
  <img src="https://www.indiabullshomeloans.com/uploads/blog/home-loan-terminology-0089480001558616854.jpg">
  <!-- <img src="https://t3.ftcdn.net/jpg/03/40/79/60/360_F_340796093_arRYqCCyRv95ISY6oNA4zNSTUWyg9CQa.jpg" alt=""> -->
  <br>
  <br>
  <h3>Home Loan</h3>
  <br>
  <button class="btn" type="submit"><a href="register" class="clickme info" routerLinkActive="active">Apply Now</a></button>
  
  <br>
  <br>
</div>
<div class="container">
  <h1>Before you Apply for a Home Loan</h1>
  <hr>
  <br>
  <img src="https://www.bankbazaar.com/images/india/infographic/home-loan-emi-calculator-march-2019.png">
  <a href="calculator" class="clickme info" routerLinkActive="active">Check Home Loan EMI Calculator</a>
<br>
<br>
  <img src="https://www.bankbazaar.com/images/india/infographic/home-loan-check-your-eligibility-march-2019.png">
  <a href="calculator" class="clickme info" routerLinkActive="active">Check Home Loan Eligibility Calculator</a>
<br>
<br>
  <img src="https://www.bankbazaar.com/images/india/infographic/home-loan-documents-required-march-2019.png">
  <a href="documents" class="clickme info" routerLinkActive="active">Check Documents Required for Home Loan</a>
<br>
<br>
<br>
<a class="text-danger" href="https://www.youtube.com/watch?v=Ul7nttFOfGM">Home Renovation Ideas</a>
</div>

<br>
<br>