<div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
        <h2>Upload Documents</h2>
        <br>
      </div>
    <hr>
</div>
<br>
<div class="col-md-6 offset-md-3">
  <body><br>
    <table  cellpadding ="10">
      <li>Please submit all the mandatory documents.</li></table>
      <br>
      <table  cellpadding ="8">
      <tr>
        <strong>Pan Card <span>*</span></strong>
            <td colspan="1" style="padding-left:280px">
                <button class="btn btn-primary" type="submit">Upload</button>
            </td>
        </tr>

        <tr>
          <strong>Voter ID</strong>
              <td colspan="2" style="padding-left:280px">
                  <button class="btn btn-primary" type="submit">Upload</button>
              </td>
          </tr>

        <tr>
          <strong>Salary Slip <span>*</span></strong>
              <td colspan="3" style="padding-left:280px">
                  <button class="btn btn-primary" type="submit">Upload</button>
              </td>
          </tr>

          <tr>
            <strong>LOA <span>*</span></strong>
                <td colspan="4" style="padding-left:280px">
                    <button class="btn btn-primary" type="submit">Upload</button>
                </td>
            </tr>

          <tr>
            <strong>NOC from Builder <span>*</span></strong>
                <td colspan="5" style="padding-left:280px">
                    <button class="btn btn-primary" type="submit">Upload</button>
                </td>
            </tr>

          <tr>
            <strong>Agreement To Sale <span>*</span></strong>
                <td colspan="6" style="padding-left:280px">
                  
                <button class="btn btn-primary" type="submit">Upload</button>
                  </td>
            </tr>

            <br>
            <br><br>
            <tr>
            <td colspan="7" style="padding-left:200px">
          <button class="btn btn-warning" type="submit" (click)="clickEvent()">Submit</button>
          <br>
          <br>
          <h3>{{msg}}</h3>
          </td>
        </tr>
          <br><br>
      </table>
    </body>
</div>